# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Misc
*.swp
*.lock
*.DS_Store
